/* START General style */
*
{
    padding: 0px;
    margin: 0px;
}

input
{
    color: rgb(102, 102, 102);
}

.cell input.active
{
    border-color: rgb(141, 177, 255);
}

.cell input.succeeded
{
    border-color: rgb(81, 255, 0);
}

.btn
{
    border: none;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color:white;
    background-color: rgb(49, 155, 255);
    font-size: 20px;
    cursor: pointer;
}

.btn:hover
{
    background-color: rgb(0, 81, 255);
    color: #fff;
    font-weight: 600;
}

.btn:active
{
    background-color: rgb(10, 0, 205);
}


body
{
    background: url('https://wallpapercave.com/wp/wp3475391.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: Arial, Helvetica, sans-serif;
}
/* END General style */



/* START Menu style */
/* START Menu-style.General Style */
#nav-bar
{
    background-image: linear-gradient(rgb(102, 67, 245), rgb(135, 119, 196));
    text-align: center;
    opacity: 0.9;
    z-index: 2;
    position: relative;
}

#nav-bar li 
{
    position: relative;
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    min-width: 105px;     
    font-size: 20px;
    font-weight: bold;
}
/* END Menu-style.General Style */

/* START Menu-Style.heading "Sudoku Solver Visualizer"*/
#nav-bar h2
{
    color: rgb(249, 247, 247);
    font-style: italic;
    padding: 10px;
    font-size: 25px;
}
/* END Menu-Style.heading "Sudoku Solver Visualizer"*/

/* START Menu-Style.Speed Dropdown */
#nav-bar li:hover 
{
    background-color: rgb(0, 81, 255);
    cursor: pointer;
}
 
#nav-bar li:hover .sub-menu
{
    display: block;
}

.sub-menu
{
    position: absolute;
    left: 0;
    top: 53px;
    background-color: rgb(49, 155, 255);
    display: none;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
/* END Menu-Style.Speed Dropdown */

/* START Menu-Style.Algorithms dropdown */
#nav-bar li:nth-child(6) 
{
    min-width: 210px;
}

#nav-bar li:hover .algo-sub-menu
{
    display: block;
}

.algo-sub-menu 
{
    position: absolute;
    left: 0;
    top: 53px;
    background-color: rgb(49, 155, 255);
    display: none;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    min-width: 210px;
}

#nav-bar .algo-sub-menu li 
{
    min-width: 210px;
    
}
#nav-bar .algo-selected
{
    min-width: 210px;
    display:none;
}
/* END Menu-Style.Algorithms dropdown */


/* START algo-info style */
.algo-info-class
{
    background-color: rgb(49, 155, 255);
    word-wrap: break-word;
    margin-left: 2.5%;
    width: 25%;
    float: left;
    padding: 10px;
}

#algo-info
{
    text-align: left;
    padding: 10px;
    margin-left: 15px;
    position: absolute;
}

#algo-info-info
{
    color: #5d1212;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#algo-info-header
{
    color: #5d1212;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-bottom: 5px;
}

/* END algo-info style */

/* START main div style */
/* START main-div.General Style */
#main
{
    margin-top: 40px;
    /* position: relative; */
    text-align: center;
    z-index: 0;
    
}
/* END main-div.General Style */

/* START main-div.Table style */
#grid 
{
    /* margin: auto; */
    margin: auto;
    border-collapse: collapse;
    width: 378px;
    height: 395px;
    border: 3px solid rgb(15, 15, 15);
    opacity: 0.9;
    box-shadow: rgb(87, 84, 232) 0px 20px 30px -10px;
}

table 
{
    margin:1em auto;
}

td 
{
    height:30px;
    width:30px;
    border:1px solid rgb(133, 133, 250);
    text-align:center;
}

td:first-child 
{
    border-left:solid rgb(68, 68, 253);
}

td:nth-child(3n) 
{
    border-right:solid rgb(77, 77, 224) ;
}

tr:first-child 
{
    border-top:solid rgb(66, 66, 246);
}

tr:nth-child(3n) td 
{
    border-bottom:solid rgb(59, 59, 229);
}

.cell input 
{
    opacity: 0.9;
    display: inline-block;

    border: 5px solid rgb(175, 203, 247);
    width: 40px;
    height: 40px;

    text-align: center;
    font-size: 30px;
}
/* END main-div.Table style */
